* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
img{
  margin-right: 20px;
}
.country-card {
  display: block;
  width: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.20));
}
.country-info__header {
  color: #3f0c36;
}
span {
  color: #3f0c36;
}
.country-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 500px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.20));
}